:root {
    --animation-duration-instant: 50ms;
    --animation-duration-fast: 100ms;
    --animation-duration-smooth: 200ms;
    --animation-duration-relaxed: 300ms;
    --animation-duration-slow: 500ms;
}