:root {
    --color-neutral-base: hsl(200, 5%, 50%);
    --color-primary-base: hsl(200, 75%, 40%);
    --color-secondary-base: hsl(270, 30%, 45%);
    --color-tertiary-base: hsl(23, 49%, 27%);
    --color-success-base: hsl(84, 60%, 35%);
    --color-warning-base: hsl(35, 65%, 45%);
    --color-danger-base: hsl(10, 72%, 45%);

    --color-shade-0: black 90%;
    --color-shade-1: black 70%;
    --color-shade-2: black 55%;
    --color-shade-3: black 30%;
    --color-shade-4: black 15%;
    --color-shade-5: white 0%;
    --color-shade-6: white 20%;
    --color-shade-7: white 50%;
    --color-shade-8: white 70%;
    --color-shade-9: white 85%;
    --color-shade-10: white 95%;

    --color-neutral-0: color-mix(in srgb, var(--color-neutral-base), var(--color-shade-0));
    --color-neutral-1: color-mix(in srgb, var(--color-neutral-base), var(--color-shade-1));
    --color-neutral-2: color-mix(in srgb, var(--color-neutral-base), var(--color-shade-2));
    --color-neutral-3: color-mix(in srgb, var(--color-neutral-base), var(--color-shade-3));
    --color-neutral-4: color-mix(in srgb, var(--color-neutral-base), var(--color-shade-4));
    --color-neutral-5: color-mix(in srgb, var(--color-neutral-base), var(--color-shade-5));
    --color-neutral-6: color-mix(in srgb, var(--color-neutral-base), var(--color-shade-6));
    --color-neutral-7: color-mix(in srgb, var(--color-neutral-base), var(--color-shade-7));
    --color-neutral-8: color-mix(in srgb, var(--color-neutral-base), var(--color-shade-8));
    --color-neutral-9: color-mix(in srgb, var(--color-neutral-base), var(--color-shade-9));
    --color-neutral-10: color-mix(in srgb, var(--color-neutral-base), var(--color-shade-10));

    --color-primary-0: color-mix(in srgb, var(--color-primary-base), var(--color-shade-0));
    --color-primary-1: color-mix(in srgb, var(--color-primary-base), var(--color-shade-1));
    --color-primary-2: color-mix(in srgb, var(--color-primary-base), var(--color-shade-2));
    --color-primary-3: color-mix(in srgb, var(--color-primary-base), var(--color-shade-3));
    --color-primary-4: color-mix(in srgb, var(--color-primary-base), var(--color-shade-4));
    --color-primary-5: color-mix(in srgb, var(--color-primary-base), var(--color-shade-5));
    --color-primary-6: color-mix(in srgb, var(--color-primary-base), var(--color-shade-6));
    --color-primary-7: color-mix(in srgb, var(--color-primary-base), var(--color-shade-7));
    --color-primary-8: color-mix(in srgb, var(--color-primary-base), var(--color-shade-8));
    --color-primary-9: color-mix(in srgb, var(--color-primary-base), var(--color-shade-9));
    --color-primary-10: color-mix(in srgb, var(--color-primary-base), var(--color-shade-10));

    --color-secondary-0: color-mix(in srgb, var(--color-secondary-base), var(--color-shade-0));
    --color-secondary-1: color-mix(in srgb, var(--color-secondary-base), var(--color-shade-1));
    --color-secondary-2: color-mix(in srgb, var(--color-secondary-base), var(--color-shade-2));
    --color-secondary-3: color-mix(in srgb, var(--color-secondary-base), var(--color-shade-3));
    --color-secondary-4: color-mix(in srgb, var(--color-secondary-base), var(--color-shade-4));
    --color-secondary-5: color-mix(in srgb, var(--color-secondary-base), var(--color-shade-5));
    --color-secondary-6: color-mix(in srgb, var(--color-secondary-base), var(--color-shade-6));
    --color-secondary-7: color-mix(in srgb, var(--color-secondary-base), var(--color-shade-7));
    --color-secondary-8: color-mix(in srgb, var(--color-secondary-base), var(--color-shade-8));
    --color-secondary-9: color-mix(in srgb, var(--color-secondary-base), var(--color-shade-9));
    --color-secondary-10: color-mix(in srgb, var(--color-secondary-base), var(--color-shade-10));

    --color-tertiary-0: color-mix(in srgb, var(--color-tertiary-base), var(--color-shade-0));
    --color-tertiary-1: color-mix(in srgb, var(--color-tertiary-base), var(--color-shade-1));
    --color-tertiary-2: color-mix(in srgb, var(--color-tertiary-base), var(--color-shade-2));
    --color-tertiary-3: color-mix(in srgb, var(--color-tertiary-base), var(--color-shade-3));
    --color-tertiary-4: color-mix(in srgb, var(--color-tertiary-base), var(--color-shade-4));
    --color-tertiary-5: color-mix(in srgb, var(--color-tertiary-base), var(--color-shade-5));
    --color-tertiary-6: color-mix(in srgb, var(--color-tertiary-base), var(--color-shade-6));
    --color-tertiary-7: color-mix(in srgb, var(--color-tertiary-base), var(--color-shade-7));
    --color-tertiary-8: color-mix(in srgb, var(--color-tertiary-base), var(--color-shade-8));
    --color-tertiary-9: color-mix(in srgb, var(--color-tertiary-base), var(--color-shade-9));
    --color-tertiary-10: color-mix(in srgb, var(--color-tertiary-base), var(--color-shade-10));

    --color-success-0: color-mix(in srgb, var(--color-success-base), var(--color-shade-0));
    --color-success-1: color-mix(in srgb, var(--color-success-base), var(--color-shade-1));
    --color-success-2: color-mix(in srgb, var(--color-success-base), var(--color-shade-2));
    --color-success-3: color-mix(in srgb, var(--color-success-base), var(--color-shade-3));
    --color-success-4: color-mix(in srgb, var(--color-success-base), var(--color-shade-4));
    --color-success-5: color-mix(in srgb, var(--color-success-base), var(--color-shade-5));
    --color-success-6: color-mix(in srgb, var(--color-success-base), var(--color-shade-6));
    --color-success-7: color-mix(in srgb, var(--color-success-base), var(--color-shade-7));
    --color-success-8: color-mix(in srgb, var(--color-success-base), var(--color-shade-8));
    --color-success-9: color-mix(in srgb, var(--color-success-base), var(--color-shade-9));
    --color-success-10: color-mix(in srgb, var(--color-success-base), var(--color-shade-10));

    --color-warning-0: color-mix(in srgb, var(--color-warning-base), var(--color-shade-0));
    --color-warning-1: color-mix(in srgb, var(--color-warning-base), var(--color-shade-1));
    --color-warning-2: color-mix(in srgb, var(--color-warning-base), var(--color-shade-2));
    --color-warning-3: color-mix(in srgb, var(--color-warning-base), var(--color-shade-3));
    --color-warning-4: color-mix(in srgb, var(--color-warning-base), var(--color-shade-4));
    --color-warning-5: color-mix(in srgb, var(--color-warning-base), var(--color-shade-5));
    --color-warning-6: color-mix(in srgb, var(--color-warning-base), var(--color-shade-6));
    --color-warning-7: color-mix(in srgb, var(--color-warning-base), var(--color-shade-7));
    --color-warning-8: color-mix(in srgb, var(--color-warning-base), var(--color-shade-8));
    --color-warning-9: color-mix(in srgb, var(--color-warning-base), var(--color-shade-9));
    --color-warning-10: color-mix(in srgb, var(--color-warning-base), var(--color-shade-10));

    --color-danger-0: color-mix(in srgb, var(--color-danger-base), var(--color-shade-0));
    --color-danger-1: color-mix(in srgb, var(--color-danger-base), var(--color-shade-1));
    --color-danger-2: color-mix(in srgb, var(--color-danger-base), var(--color-shade-2));
    --color-danger-3: color-mix(in srgb, var(--color-danger-base), var(--color-shade-3));
    --color-danger-4: color-mix(in srgb, var(--color-danger-base), var(--color-shade-4));
    --color-danger-5: color-mix(in srgb, var(--color-danger-base), var(--color-shade-5));
    --color-danger-6: color-mix(in srgb, var(--color-danger-base), var(--color-shade-6));
    --color-danger-7: color-mix(in srgb, var(--color-danger-base), var(--color-shade-7));
    --color-danger-8: color-mix(in srgb, var(--color-danger-base), var(--color-shade-8));
    --color-danger-9: color-mix(in srgb, var(--color-danger-base), var(--color-shade-9));
    --color-danger-10: color-mix(in srgb, var(--color-danger-base), var(--color-shade-10));
}

.color-mode-dark {
    color-scheme: dark;
}

.color-mode-light {
    color-scheme: light;
}

.color-theme-default {
    .color-palette-neutral,
    &.color-palette-neutral,
    .color-palette-neutral & {
        --color-background: light-dark(var(--color-neutral-10), var(--color-neutral-0));
        --color-midground: light-dark(var(--color-neutral-7), var(--color-neutral-2));
        --color-foreground: light-dark(var(--color-neutral-1), var(--color-neutral-9));

        --color-background-accent: light-dark(var(--color-neutral-9), var(--color-neutral-1));
        --color-midground-accent: light-dark(var(--color-neutral-7), var(--color-neutral-3));
        --color-foreground-accent: light-dark(var(--color-neutral-2), var(--color-neutral-8));
        --color-foreground-accent-inverted: light-dark(var(--color-neutral-10), var(--color-neutral-0));
        --color-background-accent-inverted: light-dark(var(--color-neutral-2), var(--color-neutral-8));
    }

    .color-palette-primary,
    &.color-palette-primary,
    .color-palette-primary & {
        --color-background: light-dark(var(--color-neutral-10), var(--color-neutral-0));
        --color-midground: light-dark(var(--color-neutral-7), var(--color-neutral-2));
        --color-foreground: light-dark(var(--color-neutral-1), var(--color-neutral-9));

        --color-background-accent: light-dark(var(--color-primary-9), var(--color-primary-1));
        --color-midground-accent: light-dark(var(--color-primary-7), var(--color-primary-3));
        --color-foreground-accent: light-dark(var(--color-primary-5), var(--color-primary-5));
        --color-foreground-accent-inverted: light-dark(var(--color-primary-10), var(--color-primary-0));
        --color-background-accent-inverted: light-dark(var(--color-primary-3), var(--color-primary-7));
    }

    .color-palette-secondary,
    &.color-palette-secondary,
    .color-palette-secondary & {
        --color-background: light-dark(var(--color-neutral-10), var(--color-neutral-0));
        --color-midground: light-dark(var(--color-neutral-7), var(--color-neutral-2));
        --color-foreground: light-dark(var(--color-neutral-1), var(--color-neutral-9));

        --color-background-accent: light-dark(var(--color-secondary-9), var(--color-secondary-1));
        --color-midground-accent: light-dark(var(--color-secondary-7), var(--color-secondary-3));
        --color-foreground-accent: light-dark(var(--color-secondary-5), var(--color-secondary-5));
        --color-foreground-accent-inverted: light-dark(var(--color-secondary-10), var(--color-secondary-0));
        --color-background-accent-inverted: light-dark(var(--color-secondary-3), var(--color-secondary-7));
    }

    .color-palette-tertiary,
    &.color-palette-tertiary,
    .color-palette-tertiary & {
        --color-background: light-dark(var(--color-neutral-10), var(--color-neutral-0));
        --color-midground: light-dark(var(--color-neutral-7), var(--color-neutral-2));
        --color-foreground: light-dark(var(--color-neutral-1), var(--color-neutral-9));

        --color-background-accent: light-dark(var(--color-tertiary-9), var(--color-tertiary-1));
        --color-midground-accent: light-dark(var(--color-tertiary-7), var(--color-tertiary-3));
        --color-foreground-accent: light-dark(var(--color-tertiary-5), var(--color-tertiary-5));
        --color-foreground-accent-inverted: light-dark(var(--color-tertiary-10), var(--color-tertiary-0));
        --color-background-accent-inverted: light-dark(var(--color-tertiary-3), var(--color-tertiary-7));
    }

    .color-palette-success,
    &.color-palette-success,
    .color-palette-success & {
        --color-background: light-dark(var(--color-neutral-10), var(--color-neutral-0));
        --color-midground: light-dark(var(--color-neutral-7), var(--color-neutral-2));
        --color-foreground: light-dark(var(--color-neutral-1), var(--color-neutral-9));

        --color-background-accent: light-dark(var(--color-success-9), var(--color-success-1));
        --color-midground-accent: light-dark(var(--color-success-7), var(--color-success-3));
        --color-foreground-accent: light-dark(var(--color-success-5), var(--color-success-5));
        --color-foreground-accent-inverted: light-dark(var(--color-success-10), var(--color-success-0));
        --color-background-accent-inverted: light-dark(var(--color-success-3), var(--color-success-7));
    }

    .color-palette-warning,
    &.color-palette-warning,
    .color-palette-warning & {
        --color-background: light-dark(var(--color-neutral-10), var(--color-neutral-0));
        --color-midground: light-dark(var(--color-neutral-7), var(--color-neutral-2));
        --color-foreground: light-dark(var(--color-neutral-1), var(--color-neutral-9));

        --color-background-accent: light-dark(var(--color-warning-9), var(--color-warning-1));
        --color-midground-accent: light-dark(var(--color-warning-7), var(--color-warning-3));
        --color-foreground-accent: light-dark(var(--color-warning-5), var(--color-warning-5));
        --color-foreground-accent-inverted: light-dark(var(--color-warning-10), var(--color-warning-0));
        --color-background-accent-inverted: light-dark(var(--color-warning-3), var(--color-warning-7));
    }

    .color-palette-danger,
    &.color-palette-danger,
    .color-palette-danger & {
        --color-background: light-dark(var(--color-neutral-10), var(--color-neutral-0));
        --color-midground: light-dark(var(--color-neutral-7), var(--color-neutral-2));
        --color-foreground: light-dark(var(--color-neutral-1), var(--color-neutral-9));

        --color-background-accent: light-dark(var(--color-danger-9), var(--color-danger-1));
        --color-midground-accent: light-dark(var(--color-danger-7), var(--color-danger-3));
        --color-foreground-accent: light-dark(var(--color-danger-5), var(--color-danger-5));
        --color-foreground-accent-inverted: light-dark(var(--color-danger-10), var(--color-danger-0));
        --color-background-accent-inverted: light-dark(var(--color-danger-3), var(--color-danger-7));
    }
}

.color-theme-soft {
    .color-palette-neutral,
    &.color-palette-neutral,
    .color-palette-neutral & {
        --color-background: light-dark(var(--color-neutral-9), var(--color-neutral-1));
        --color-midground: light-dark(var(--color-neutral-6), var(--color-neutral-3));
        --color-foreground: light-dark(var(--color-neutral-2), var(--color-neutral-8));

        --color-background-accent: light-dark(var(--color-neutral-8), var(--color-neutral-2));
        --color-midground-accent: light-dark(var(--color-neutral-7), var(--color-neutral-3));
        --color-foreground-accent: light-dark(var(--color-neutral-2), var(--color-neutral-8));
        --color-foreground-accent-inverted: light-dark(var(--color-neutral-10), var(--color-neutral-0));
        --color-background-accent-inverted: light-dark(var(--color-neutral-1), var(--color-neutral-9));
    }

    .color-palette-primary,
    &.color-palette-primary,
    .color-palette-primary & {
        --color-background: light-dark(var(--color-primary-9), var(--color-primary-1));
        --color-midground: light-dark(var(--color-primary-6), var(--color-primary-3));
        --color-foreground: light-dark(var(--color-primary-2), var(--color-primary-8));

        --color-background-accent: light-dark(var(--color-primary-8), var(--color-primary-2));
        --color-midground-accent: light-dark(var(--color-primary-7), var(--color-primary-3));
        --color-foreground-accent: light-dark(var(--color-primary-3), var(--color-primary-5));
        --color-foreground-accent-inverted: light-dark(var(--color-primary-10), var(--color-primary-0));
        --color-background-accent-inverted: light-dark(var(--color-primary-2), var(--color-primary-8));
    }

    .color-palette-secondary,
    &.color-palette-secondary,
    .color-palette-secondary & {
        --color-background: light-dark(var(--color-primary-9), var(--color-primary-1));
        --color-midground: light-dark(var(--color-primary-6), var(--color-primary-3));
        --color-foreground: light-dark(var(--color-primary-2), var(--color-primary-8));

        --color-background-accent: light-dark(var(--color-primary-8), var(--color-primary-2));
        --color-midground-accent: light-dark(var(--color-primary-7), var(--color-primary-3));
        --color-foreground-accent: light-dark(var(--color-primary-3), var(--color-primary-5));
        --color-foreground-accent-inverted: light-dark(var(--color-primary-10), var(--color-primary-0));
        --color-background-accent-inverted: light-dark(var(--color-primary-2), var(--color-primary-8));
    }

    .color-palette-tertiary,
    &.color-palette-tertiary,
    .color-palette-tertiary & {
        --color-background: light-dark(var(--color-tertiary-9), var(--color-tertiary-1));
        --color-midground: light-dark(var(--color-tertiary-6), var(--color-tertiary-3));
        --color-foreground: light-dark(var(--color-tertiary-2), var(--color-tertiary-8));

        --color-background-accent: light-dark(var(--color-tertiary-8), var(--color-tertiary-2));
        --color-midground-accent: light-dark(var(--color-tertiary-7), var(--color-tertiary-3));
        --color-foreground-accent: light-dark(var(--color-tertiary-3), var(--color-tertiary-5));
        --color-foreground-accent-inverted: light-dark(var(--color-tertiary-10), var(--color-tertiary-0));
        --color-background-accent-inverted: light-dark(var(--color-tertiary-2), var(--color-tertiary-8));
    }

    .color-palette-success,
    &.color-palette-success,
    .color-palette-success & {
        --color-background: light-dark(var(--color-success-9), var(--color-success-1));
        --color-midground: light-dark(var(--color-success-6), var(--color-success-3));
        --color-foreground: light-dark(var(--color-success-2), var(--color-success-8));

        --color-background-accent: light-dark(var(--color-success-8), var(--color-success-2));
        --color-midground-accent: light-dark(var(--color-success-7), var(--color-success-3));
        --color-foreground-accent: light-dark(var(--color-success-3), var(--color-success-5));
        --color-foreground-accent-inverted: light-dark(var(--color-success-10), var(--color-success-0));
        --color-background-accent-inverted: light-dark(var(--color-success-2), var(--color-success-8));
    }

    .color-palette-warning,
    &.color-palette-warning,
    .color-palette-warning & {
        --color-background: light-dark(var(--color-warning-9), var(--color-warning-1));
        --color-midground: light-dark(var(--color-warning-6), var(--color-warning-3));
        --color-foreground: light-dark(var(--color-warning-2), var(--color-warning-8));

        --color-background-accent: light-dark(var(--color-warning-8), var(--color-warning-2));
        --color-midground-accent: light-dark(var(--color-warning-7), var(--color-warning-3));
        --color-foreground-accent: light-dark(var(--color-warning-3), var(--color-warning-5));
        --color-foreground-accent-inverted: light-dark(var(--color-warning-10), var(--color-warning-0));
        --color-background-accent-inverted: light-dark(var(--color-warning-2), var(--color-warning-8));
    }

    .color-palette-danger,
    &.color-palette-danger,
    .color-palette-danger & {
        --color-background: light-dark(var(--color-danger-9), var(--color-danger-1));
        --color-midground: light-dark(var(--color-danger-6), var(--color-danger-3));
        --color-foreground: light-dark(var(--color-danger-2), var(--color-danger-8));

        --color-background-accent: light-dark(var(--color-danger-8), var(--color-danger-2));
        --color-midground-accent: light-dark(var(--color-danger-7), var(--color-danger-3));
        --color-foreground-accent: light-dark(var(--color-danger-3), var(--color-danger-5));
        --color-foreground-accent-inverted: light-dark(var(--color-danger-10), var(--color-danger-0));
        --color-background-accent-inverted: light-dark(var(--color-danger-2), var(--color-danger-8));
    }
}

.color-theme-bold {
    .color-palette-neutral,
    &.color-palette-neutral,
    .color-palette-neutral & {
        --color-background: light-dark(var(--color-neutral-2), var(--color-neutral-8));
        --color-midground: light-dark(var(--color-neutral-7), var(--color-neutral-3));
        --color-foreground: light-dark(var(--color-neutral-10), var(--color-neutral-0));

        --color-background-accent: light-dark(var(--color-neutral-3), var(--color-neutral-7));
        --color-midground-accent: light-dark(var(--color-neutral-7), var(--color-neutral-3));
        --color-foreground-accent: light-dark(var(--color-neutral-10), var(--color-neutral-0));
        --color-foreground-accent-inverted: light-dark(var(--color-neutral-2), var(--color-neutral-8));
        --color-background-accent-inverted: light-dark(var(--color-neutral-10), var(--color-neutral-0));
    }

    .color-palette-primary,
    &.color-palette-primary,
    .color-palette-primary & {
        --color-background: light-dark(var(--color-primary-5), var(--color-primary-5));
        --color-midground: light-dark(var(--color-primary-7), var(--color-primary-3));
        --color-foreground: light-dark(var(--color-primary-10), var(--color-primary-0));

        --color-background-accent: light-dark(var(--color-primary-6), var(--color-primary-4));
        --color-midground-accent: light-dark(var(--color-primary-7), var(--color-primary-3));
        --color-foreground-accent: light-dark(var(--color-primary-10), var(--color-primary-0));
        --color-foreground-accent-inverted: light-dark(var(--color-primary-3), var(--color-primary-7));
        --color-background-accent-inverted: light-dark(var(--color-primary-10), var(--color-primary-0));
    }

    .color-palette-secondary,
    &.color-palette-secondary,
    .color-palette-secondary & {
        --color-background: light-dark(var(--color-secondary-5), var(--color-secondary-5));
        --color-midground: light-dark(var(--color-secondary-7), var(--color-secondary-3));
        --color-foreground: light-dark(var(--color-secondary-10), var(--color-secondary-0));

        --color-background-accent: light-dark(var(--color-secondary-6), var(--color-secondary-4));
        --color-midground-accent: light-dark(var(--color-secondary-7), var(--color-secondary-3));
        --color-foreground-accent: light-dark(var(--color-secondary-10), var(--color-secondary-0));
        --color-foreground-accent-inverted: light-dark(var(--color-secondary-3), var(--color-secondary-7));
        --color-background-accent-inverted: light-dark(var(--color-secondary-10), var(--color-secondary-0));
    }

    .color-palette-tertiary,
    &.color-palette-tertiary,
    .color-palette-tertiary & {
        --color-background: light-dark(var(--color-tertiary-5), var(--color-tertiary-5));
        --color-midground: light-dark(var(--color-tertiary-7), var(--color-tertiary-3));
        --color-foreground: light-dark(var(--color-tertiary-10), var(--color-tertiary-0));

        --color-background-accent: light-dark(var(--color-tertiary-6), var(--color-tertiary-4));
        --color-midground-accent: light-dark(var(--color-tertiary-7), var(--color-tertiary-3));
        --color-foreground-accent: light-dark(var(--color-tertiary-10), var(--color-tertiary-0));
        --color-foreground-accent-inverted: light-dark(var(--color-tertiary-3), var(--color-tertiary-7));
        --color-background-accent-inverted: light-dark(var(--color-tertiary-10), var(--color-tertiary-0));
    }

    .color-palette-success,
    &.color-palette-success,
    .color-palette-success & {
        --color-background: light-dark(var(--color-success-5), var(--color-success-5));
        --color-midground: light-dark(var(--color-success-7), var(--color-success-3));
        --color-foreground: light-dark(var(--color-success-10), var(--color-success-0));

        --color-background-accent: light-dark(var(--color-success-6), var(--color-success-4));
        --color-midground-accent: light-dark(var(--color-success-7), var(--color-success-3));
        --color-foreground-accent: light-dark(var(--color-success-10), var(--color-success-0));
        --color-foreground-accent-inverted: light-dark(var(--color-success-3), var(--color-success-7));
        --color-background-accent-inverted: light-dark(var(--color-success-10), var(--color-success-0));
    }

    .color-palette-warning,
    &.color-palette-warning,
    .color-palette-warning & {
        --color-background: light-dark(var(--color-warning-5), var(--color-warning-5));
        --color-midground: light-dark(var(--color-warning-7), var(--color-warning-3));
        --color-foreground: light-dark(var(--color-warning-10), var(--color-warning-0));

        --color-background-accent: light-dark(var(--color-warning-6), var(--color-warning-4));
        --color-midground-accent: light-dark(var(--color-warning-7), var(--color-warning-3));
        --color-foreground-accent: light-dark(var(--color-warning-10), var(--color-warning-0));
        --color-foreground-accent-inverted: light-dark(var(--color-warning-3), var(--color-warning-7));
        --color-background-accent-inverted: light-dark(var(--color-warning-10), var(--color-warning-0));
    }

    .color-palette-danger,
    &.color-palette-danger,
    .color-palette-danger & {
        --color-background: light-dark(var(--color-danger-5), var(--color-danger-5));
        --color-midground: light-dark(var(--color-danger-7), var(--color-danger-3));
        --color-foreground: light-dark(var(--color-danger-10), var(--color-danger-0));

        --color-background-accent: light-dark(var(--color-danger-6), var(--color-danger-4));
        --color-midground-accent: light-dark(var(--color-danger-7), var(--color-danger-3));
        --color-foreground-accent: light-dark(var(--color-danger-10), var(--color-danger-0));
        --color-foreground-accent-inverted: light-dark(var(--color-danger-3), var(--color-danger-7));
        --color-background-accent-inverted: light-dark(var(--color-danger-10), var(--color-danger-0));
    }
}
