:root {
    --color-neutral-base: hsl(0, 0%, 47%);
    --color-brand-base: hsl(200, 73%, 47%);
    --color-success-base: hsl(84, 56%, 42%);
    --color-danger-base: hsl(10, 72%, 45%);

    --color-shade-step-light: (94 - l) / 5;
    --color-shade-step-dark: (l - 14) / 5;

    --color-shade-0: h s calc(l - (var(--color-shade-step-dark) * 5));
    --color-shade-1: h s calc(l - (var(--color-shade-step-dark) * 4));
    --color-shade-2: h s calc(l - (var(--color-shade-step-dark) * 3));
    --color-shade-3: h s calc(l - (var(--color-shade-step-dark) * 2));
    --color-shade-4: h s calc(l - (var(--color-shade-step-dark) * 1));
    --color-shade-5: h s l;
    --color-shade-6: h s calc(l + (var(--color-shade-step-light) * 1));
    --color-shade-7: h s calc(l + (var(--color-shade-step-light) * 2));
    --color-shade-8: h s calc(l + (var(--color-shade-step-light) * 3));
    --color-shade-9: h s calc(l + (var(--color-shade-step-light) * 4));
    --color-shade-10: h s calc(l + (var(--color-shade-step-light) * 5));

    --color-neutral-white: hsl(from var(--color-neutral-base) h s 100%);
    --color-neutral-0: hsl(from var(--color-neutral-base) var(--color-shade-0));
    --color-neutral-1: hsl(from var(--color-neutral-base) var(--color-shade-1));
    --color-neutral-2: hsl(from var(--color-neutral-base) var(--color-shade-2));
    --color-neutral-3: hsl(from var(--color-neutral-base) var(--color-shade-3));
    --color-neutral-4: hsl(from var(--color-neutral-base) var(--color-shade-4));
    --color-neutral-5: hsl(from var(--color-neutral-base) var(--color-shade-5));
    --color-neutral-6: hsl(from var(--color-neutral-base) var(--color-shade-6));
    --color-neutral-7: hsl(from var(--color-neutral-base) var(--color-shade-7));
    --color-neutral-8: hsl(from var(--color-neutral-base) var(--color-shade-8));
    --color-neutral-9: hsl(from var(--color-neutral-base) var(--color-shade-9));
    --color-neutral-10: hsl(from var(--color-neutral-base) var(--color-shade-10));
    --color-neutral-black: hsl(from var(--color-neutral-base) h s 10%);

    --color-brand-0: hsl(from var(--color-brand-base) var(--color-shade-0));
    --color-brand-1: hsl(from var(--color-brand-base) var(--color-shade-1));
    --color-brand-2: hsl(from var(--color-brand-base) var(--color-shade-2));
    --color-brand-3: hsl(from var(--color-brand-base) var(--color-shade-3));
    --color-brand-4: hsl(from var(--color-brand-base) var(--color-shade-4));
    --color-brand-5: hsl(from var(--color-brand-base) var(--color-shade-5));
    --color-brand-6: hsl(from var(--color-brand-base) var(--color-shade-6));
    --color-brand-7: hsl(from var(--color-brand-base) var(--color-shade-7));
    --color-brand-8: hsl(from var(--color-brand-base) var(--color-shade-8));
    --color-brand-9: hsl(from var(--color-brand-base) var(--color-shade-9));
    --color-brand-10: hsl(from var(--color-brand-base) var(--color-shade-10));

    --color-success-0: hsl(from var(--color-success-base) var(--color-shade-0));
    --color-success-1: hsl(from var(--color-success-base) var(--color-shade-1));
    --color-success-2: hsl(from var(--color-success-base) var(--color-shade-2));
    --color-success-3: hsl(from var(--color-success-base) var(--color-shade-3));
    --color-success-4: hsl(from var(--color-success-base) var(--color-shade-4));
    --color-success-5: hsl(from var(--color-success-base) var(--color-shade-5));
    --color-success-6: hsl(from var(--color-success-base) var(--color-shade-6));
    --color-success-7: hsl(from var(--color-success-base) var(--color-shade-7));
    --color-success-8: hsl(from var(--color-success-base) var(--color-shade-8));
    --color-success-9: hsl(from var(--color-success-base) var(--color-shade-9));
    --color-success-10: hsl(from var(--color-success-base) var(--color-shade-10));

    --color-danger-0: hsl(from var(--color-danger-base) var(--color-shade-0));
    --color-danger-1: hsl(from var(--color-danger-base) var(--color-shade-1));
    --color-danger-2: hsl(from var(--color-danger-base) var(--color-shade-2));
    --color-danger-3: hsl(from var(--color-danger-base) var(--color-shade-3));
    --color-danger-4: hsl(from var(--color-danger-base) var(--color-shade-4));
    --color-danger-5: hsl(from var(--color-danger-base) var(--color-shade-5));
    --color-danger-6: hsl(from var(--color-danger-base) var(--color-shade-6));
    --color-danger-7: hsl(from var(--color-danger-base) var(--color-shade-7));
    --color-danger-8: hsl(from var(--color-danger-base) var(--color-shade-8));
    --color-danger-9: hsl(from var(--color-danger-base) var(--color-shade-9));
    --color-danger-10: hsl(from var(--color-danger-base) var(--color-shade-10));
}

.color-mode-dark {
    color-scheme: dark;
}

.color-mode-light {
    color-scheme: light;
}
