:root {
    --color-neutral-base: hsl(207, 4%, 55%);
    --color-primary-base: hsl(198, 100%, 41%);
    --color-secondary-base: hsl(271, 34%, 53%);
    --color-tertiary-base: hsl(180, 66%, 42%);
    --color-success-base: hsl(89, 60%, 40%);
    --color-warning-base: hsl(36, 73%, 49%);
    --color-danger-base: hsl(10, 71%, 50%);

    --color-shade-black: black 85%;
    --color-shade-0: black 80%;
    --color-shade-1: black 60%;
    --color-shade-2: black 50%;
    --color-shade-3: black 30%;
    --color-shade-4: black 15%;
    --color-shade-5: white 0%;
    --color-shade-6: white 30%;
    --color-shade-7: white 50%;
    --color-shade-8: white 70%;
    --color-shade-9: white 80%;
    --color-shade-10: white 85%;
    --color-shade-white: white 94%;
}

.scheme-dark {
    color-scheme: dark;
}

.scheme-light {
    color-scheme: light;
}

.palette-neutral {
    --color-palette-base: var(--color-neutral-base);
}

.palette-primary {
    --color-palette-base: var(--color-primary-base);
}

.palette-secondary {
    --color-palette-base: var(--color-secondary-base);
}

.palette-tertiary {
    --color-palette-base: var(--color-tertiary-base);
}

.palette-success {
    --color-palette-base: var(--color-success-base);
}

.palette-warning {
    --color-palette-base: var(--color-warning-base);
}

.palette-danger {
    --color-palette-base: var(--color-danger-base);
}

.palette-neutral,
.palette-primary,
.palette-secondary,
.palette-tertiary,
.palette-success,
.palette-warning,
.palette-danger {
    --color-neutral-black: color-mix(in srgb, var(--color-neutral-base), var(--color-shade-black));
    --color-neutral-0: color-mix(in srgb, var(--color-neutral-base), var(--color-shade-0));
    --color-neutral-1: color-mix(in srgb, var(--color-neutral-base), var(--color-shade-1));
    --color-neutral-2: color-mix(in srgb, var(--color-neutral-base), var(--color-shade-2));
    --color-neutral-3: color-mix(in srgb, var(--color-neutral-base), var(--color-shade-3));
    --color-neutral-4: color-mix(in srgb, var(--color-neutral-base), var(--color-shade-4));
    --color-neutral-5: color-mix(in srgb, var(--color-neutral-base), var(--color-shade-5));
    --color-neutral-6: color-mix(in srgb, var(--color-neutral-base), var(--color-shade-6));
    --color-neutral-7: color-mix(in srgb, var(--color-neutral-base), var(--color-shade-7));
    --color-neutral-8: color-mix(in srgb, var(--color-neutral-base), var(--color-shade-8));
    --color-neutral-9: color-mix(in srgb, var(--color-neutral-base), var(--color-shade-9));
    --color-neutral-10: color-mix(in srgb, var(--color-neutral-base), var(--color-shade-10));
    --color-neutral-white: color-mix(in srgb, var(--color-neutral-base), var(--color-shade-white));

    --color-palette-black: color-mix(in srgb, var(--color-palette-base), var(--color-shade-black));
    --color-palette-0: color-mix(in srgb, var(--color-palette-base), var(--color-shade-0));
    --color-palette-1: color-mix(in srgb, var(--color-palette-base), var(--color-shade-1));
    --color-palette-2: color-mix(in srgb, var(--color-palette-base), var(--color-shade-2));
    --color-palette-3: color-mix(in srgb, var(--color-palette-base), var(--color-shade-3));
    --color-palette-4: color-mix(in srgb, var(--color-palette-base), var(--color-shade-4));
    --color-palette-5: color-mix(in srgb, var(--color-palette-base), var(--color-shade-5));
    --color-palette-6: color-mix(in srgb, var(--color-palette-base), var(--color-shade-6));
    --color-palette-7: color-mix(in srgb, var(--color-palette-base), var(--color-shade-7));
    --color-palette-8: color-mix(in srgb, var(--color-palette-base), var(--color-shade-8));
    --color-palette-9: color-mix(in srgb, var(--color-palette-base), var(--color-shade-9));
    --color-palette-10: color-mix(in srgb, var(--color-palette-base), var(--color-shade-10));
    --color-palette-white: color-mix(in srgb, var(--color-palette-base), var(--color-shade-white));
}

.theme-default {
    --color-theme-default-background-1: light-dark(var(--color-neutral-white), var(--color-neutral-black));
    --color-theme-default-background-2: light-dark(var(--color-neutral-10), var(--color-neutral-0));
    --color-theme-default-background-3: light-dark(var(--color-neutral-9), var(--color-neutral-2));
    --color-theme-default-foreground-1: light-dark(var(--color-neutral-black), var(--color-neutral-white));
    --color-theme-default-foreground-2: light-dark(var(--color-neutral-0), var(--color-neutral-10));
    --color-theme-default-foreground-3: light-dark(var(--color-neutral-1), var(--color-neutral-9));

    --color-theme-stark-background-1: light-dark(var(--color-palette-5), var(--color-palette-5));
    --color-theme-stark-background-2: light-dark(var(--color-palette-4), var(--color-palette-6));
    --color-theme-stark-background-3: light-dark(var(--color-palette-3), var(--color-palette-7));
    --color-theme-stark-foreground-1: light-dark(var(--color-palette-white), var(--color-palette-black));
    --color-theme-stark-foreground-2: light-dark(var(--color-palette-10), var(--color-palette-0));
    --color-theme-stark-foreground-3: light-dark(var(--color-palette-9), var(--color-palette-1));

    --color-theme-muted-background-1: light-dark(var(--color-palette-10), var(--color-palette-1));
    --color-theme-muted-background-2: light-dark(var(--color-palette-9), var(--color-palette-2));
    --color-theme-muted-background-3: light-dark(var(--color-palette-8), var(--color-palette-3));
    --color-theme-muted-foreground-1: light-dark(var(--color-palette-5), var(--color-palette-5));
    --color-theme-muted-foreground-2: light-dark(var(--color-palette-4), var(--color-palette-6));
    --color-theme-muted-foreground-3: light-dark(var(--color-palette-3), var(--color-palette-7));
}

.theme-emphasis {
    --color-theme-default-background-1: light-dark(var(--color-palette-5), var(--color-palette-5));
    --color-theme-default-background-2: light-dark(var(--color-palette-4), var(--color-palette-6));
    --color-theme-default-background-3: light-dark(var(--color-palette-3), var(--color-palette-7));
    --color-theme-default-foreground-1: light-dark(var(--color-palette-white), var(--color-palette-black));
    --color-theme-default-foreground-2: light-dark(var(--color-palette-10), var(--color-palette-0));
    --color-theme-default-foreground-3: light-dark(var(--color-palette-9), var(--color-palette-1));

    --color-theme-stark-background-1: light-dark(var(--color-palette-white), var(--color-palette-black));
    --color-theme-stark-background-2: light-dark(var(--color-palette-10), var(--color-palette-0));
    --color-theme-stark-background-3: light-dark(var(--color-palette-9), var(--color-palette-1));
    --color-theme-stark-foreground-1: light-dark(var(--color-palette-5), var(--color-palette-5));
    --color-theme-stark-foreground-2: light-dark(var(--color-palette-4), var(--color-palette-6));
    --color-theme-stark-foreground-3: light-dark(var(--color-palette-3), var(--color-palette-7));

    --color-theme-muted-background-1: light-dark(var(--color-palette-4), var(--color-palette-6));
    --color-theme-muted-background-2: light-dark(var(--color-palette-3), var(--color-palette-7));
    --color-theme-muted-background-3: light-dark(var(--color-palette-2), var(--color-palette-8));
    --color-theme-muted-foreground-1: light-dark(var(--color-palette-white), var(--color-palette-black));
    --color-theme-muted-foreground-2: light-dark(var(--color-palette-10), var(--color-palette-0));
    --color-theme-muted-foreground-3: light-dark(var(--color-palette-9), var(--color-palette-1));
}

.theme-subtle {
    --color-theme-default-background-1: light-dark(var(--color-palette-10), var(--color-palette-0));
    --color-theme-default-background-2: light-dark(var(--color-palette-9), var(--color-palette-1));
    --color-theme-default-background-3: light-dark(var(--color-palette-8), var(--color-palette-2));
    --color-theme-default-foreground-1: light-dark(var(--color-palette-0), var(--color-palette-10));
    --color-theme-default-foreground-2: light-dark(var(--color-palette-1), var(--color-palette-9));
    --color-theme-default-foreground-3: light-dark(var(--color-palette-2), var(--color-palette-8));

    --color-theme-stark-background-1: light-dark(var(--color-palette-5), var(--color-palette-5));
    --color-theme-stark-background-2: light-dark(var(--color-palette-4), var(--color-palette-6));
    --color-theme-stark-background-3: light-dark(var(--color-palette-3), var(--color-palette-7));
    --color-theme-stark-foreground-1: light-dark(var(--color-palette-10), var(--color-palette-0));
    --color-theme-stark-foreground-2: light-dark(var(--color-palette-9), var(--color-palette-1));
    --color-theme-stark-foreground-3: light-dark(var(--color-palette-8), var(--color-palette-2));

    --color-theme-muted-background-1: light-dark(var(--color-palette-8), var(--color-palette-1));
    --color-theme-muted-background-2: light-dark(var(--color-palette-7), var(--color-palette-2));
    --color-theme-muted-background-3: light-dark(var(--color-palette-6), var(--color-palette-3));
    --color-theme-muted-foreground-1: light-dark(var(--color-palette-5), var(--color-palette-5));
    --color-theme-muted-foreground-2: light-dark(var(--color-palette-4), var(--color-palette-6));
    --color-theme-muted-foreground-3: light-dark(var(--color-palette-3), var(--color-palette-7));
}
