:root {
    --color-neutral-base: hsl(207, 4%, 50%);
    --color-primary-base: hsl(200, 75%, 45%);
    --color-secondary-base: hsl(270, 30%, 50%);
    --color-tertiary-base: hsl(170, 60%, 40%);
    --color-success-base: hsl(84, 62%, 38%);
    --color-warning-base: hsl(28, 73%, 45%);
    --color-danger-base: hsl(10, 71%, 50%);

    --color-shade-0: black 85%;
    --color-shade-1: black 70%;
    --color-shade-2: black 55%;
    --color-shade-3: black 30%;
    --color-shade-4: black 15%;
    --color-shade-5: white 0%;
    --color-shade-6: white 20%;
    --color-shade-7: white 50%;
    --color-shade-8: white 70%;
    --color-shade-9: white 82%;
    --color-shade-10: white 95%;

    --color-neutral-0: color-mix(in srgb, var(--color-neutral-base), var(--color-shade-0));
    --color-neutral-1: color-mix(in srgb, var(--color-neutral-base), var(--color-shade-1));
    --color-neutral-2: color-mix(in srgb, var(--color-neutral-base), var(--color-shade-2));
    --color-neutral-3: color-mix(in srgb, var(--color-neutral-base), var(--color-shade-3));
    --color-neutral-4: color-mix(in srgb, var(--color-neutral-base), var(--color-shade-4));
    --color-neutral-5: color-mix(in srgb, var(--color-neutral-base), var(--color-shade-5));
    --color-neutral-6: color-mix(in srgb, var(--color-neutral-base), var(--color-shade-6));
    --color-neutral-7: color-mix(in srgb, var(--color-neutral-base), var(--color-shade-7));
    --color-neutral-8: color-mix(in srgb, var(--color-neutral-base), var(--color-shade-8));
    --color-neutral-9: color-mix(in srgb, var(--color-neutral-base), var(--color-shade-9));
    --color-neutral-10: color-mix(in srgb, var(--color-neutral-base), var(--color-shade-10));
}

.scheme-dark {
    color-scheme: dark;
}

.scheme-light {
    color-scheme: light;
}

.palette-neutral {
    --color-palette-base: light-dark(var(--color-neutral-2), var(--color-neutral-7));
}

.palette-primary {
    --color-palette-base: var(--color-primary-base);
}

.palette-secondary {
    --color-palette-base: var(--color-secondary-base);
}

.palette-tertiary {
    --color-palette-base: var(--color-tertiary-base);
}

.palette-success {
    --color-palette-base: var(--color-success-base);
}

.palette-warning {
    --color-palette-base: var(--color-warning-base);
}

.palette-danger {
    --color-palette-base: var(--color-danger-base);
}

.palette-neutral,
.palette-primary,
.palette-secondary,
.palette-tertiary,
.palette-success,
.palette-warning,
.palette-danger {
    --color-palette-0: color-mix(in srgb, var(--color-palette-base), var(--color-shade-0));
    --color-palette-1: color-mix(in srgb, var(--color-palette-base), var(--color-shade-1));
    --color-palette-2: color-mix(in srgb, var(--color-palette-base), var(--color-shade-2));
    --color-palette-3: color-mix(in srgb, var(--color-palette-base), var(--color-shade-3));
    --color-palette-4: color-mix(in srgb, var(--color-palette-base), var(--color-shade-4));
    --color-palette-5: color-mix(in srgb, var(--color-palette-base), var(--color-shade-5));
    --color-palette-6: color-mix(in srgb, var(--color-palette-base), var(--color-shade-6));
    --color-palette-7: color-mix(in srgb, var(--color-palette-base), var(--color-shade-7));
    --color-palette-8: color-mix(in srgb, var(--color-palette-base), var(--color-shade-8));
    --color-palette-9: color-mix(in srgb, var(--color-palette-base), var(--color-shade-9));
    --color-palette-10: color-mix(in srgb, var(--color-palette-base), var(--color-shade-10));
}

.theme-default {
    --color-theme-default-background-1: light-dark(var(--color-neutral-10), var(--color-neutral-0));
    --color-theme-default-background-2: light-dark(var(--color-neutral-9), var(--color-neutral-1));
    --color-theme-default-background-3: light-dark(var(--color-neutral-8), var(--color-neutral-2));
    --color-theme-default-foreground-1: light-dark(var(--color-neutral-1), var(--color-neutral-9));
    --color-theme-default-foreground-2: light-dark(var(--color-neutral-2), var(--color-neutral-8));
    --color-theme-default-foreground-3: light-dark(var(--color-neutral-3), var(--color-neutral-7));

    --color-theme-stark-background-1: light-dark(var(--color-palette-5), var(--color-palette-5));
    --color-theme-stark-background-2: light-dark(var(--color-palette-4), var(--color-palette-6));
    --color-theme-stark-background-3: light-dark(var(--color-palette-3), var(--color-palette-7));
    --color-theme-stark-foreground-1: light-dark(var(--color-palette-10), var(--color-palette-0));
    --color-theme-stark-foreground-2: light-dark(var(--color-palette-9), var(--color-palette-1));
    --color-theme-stark-foreground-3: light-dark(var(--color-palette-8), var(--color-palette-2));

    --color-theme-muted-background-1: light-dark(var(--color-palette-9), var(--color-palette-1));
    --color-theme-muted-background-2: light-dark(var(--color-palette-8), var(--color-palette-2));
    --color-theme-muted-background-3: light-dark(var(--color-palette-7), var(--color-palette-3));
    --color-theme-muted-foreground-1: light-dark(var(--color-palette-5), var(--color-palette-5));
    --color-theme-muted-foreground-2: light-dark(var(--color-palette-4), var(--color-palette-6));
    --color-theme-muted-foreground-3: light-dark(var(--color-palette-3), var(--color-palette-7));
}

.theme-bold {
    --color-theme-default-background-1: light-dark(var(--color-palette-5), var(--color-palette-5));
    --color-theme-default-background-2: light-dark(var(--color-palette-4), var(--color-palette-6));
    --color-theme-default-background-3: light-dark(var(--color-palette-3), var(--color-palette-7));
    --color-theme-default-foreground-1: light-dark(var(--color-palette-10), var(--color-palette-0));
    --color-theme-default-foreground-2: light-dark(var(--color-palette-9), var(--color-palette-1));
    --color-theme-default-foreground-3: light-dark(var(--color-palette-8), var(--color-palette-2));

    --color-theme-stark-background-1: light-dark(var(--color-palette-10), var(--color-palette-0));
    --color-theme-stark-background-2: light-dark(var(--color-palette-9), var(--color-palette-1));
    --color-theme-stark-background-3: light-dark(var(--color-palette-8), var(--color-palette-2));
    --color-theme-stark-foreground-1: light-dark(var(--color-palette-4), var(--color-palette-6));
    --color-theme-stark-foreground-2: light-dark(var(--color-palette-3), var(--color-palette-7));
    --color-theme-stark-foreground-3: light-dark(var(--color-palette-2), var(--color-palette-8));

    --color-theme-muted-background-1: light-dark(var(--color-palette-4), var(--color-palette-6));
    --color-theme-muted-background-2: light-dark(var(--color-palette-3), var(--color-palette-7));
    --color-theme-muted-background-3: light-dark(var(--color-palette-2), var(--color-palette-8));
    --color-theme-muted-foreground-1: light-dark(var(--color-palette-10), var(--color-palette-0));
    --color-theme-muted-foreground-2: light-dark(var(--color-palette-9), var(--color-palette-1));
    --color-theme-muted-foreground-3: light-dark(var(--color-palette-8), var(--color-palette-2));
}

.theme-soft {
    --color-theme-default-background-1: light-dark(var(--color-palette-9), var(--color-palette-1));
    --color-theme-default-background-2: light-dark(var(--color-palette-8), var(--color-palette-2));
    --color-theme-default-background-3: light-dark(var(--color-palette-7), var(--color-palette-3));
    --color-theme-default-foreground-1: light-dark(var(--color-palette-0), var(--color-palette-10));
    --color-theme-default-foreground-2: light-dark(var(--color-palette-1), var(--color-palette-9));
    --color-theme-default-foreground-3: light-dark(var(--color-palette-2), var(--color-palette-8));

    --color-theme-stark-background-1: light-dark(var(--color-palette-4), var(--color-palette-6));
    --color-theme-stark-background-2: light-dark(var(--color-palette-3), var(--color-palette-7));
    --color-theme-stark-background-3: light-dark(var(--color-palette-2), var(--color-palette-8));
    --color-theme-stark-foreground-1: light-dark(var(--color-palette-10), var(--color-palette-0));
    --color-theme-stark-foreground-2: light-dark(var(--color-palette-9), var(--color-palette-1));
    --color-theme-stark-foreground-3: light-dark(var(--color-palette-8), var(--color-palette-2));

    --color-theme-muted-background-1: light-dark(var(--color-palette-8), var(--color-palette-2));
    --color-theme-muted-background-2: light-dark(var(--color-palette-7), var(--color-palette-3));
    --color-theme-muted-background-3: light-dark(var(--color-palette-6), var(--color-palette-4));
    --color-theme-muted-foreground-1: light-dark(var(--color-palette-4), var(--color-palette-6));
    --color-theme-muted-foreground-2: light-dark(var(--color-palette-3), var(--color-palette-7));
    --color-theme-muted-foreground-3: light-dark(var(--color-palette-2), var(--color-palette-8));
}
