*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html {
    interpolate-size: allow-keywords;
}

body {
    -webkit-font-smoothing: antialiased;
    overscroll-behavior: none;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p {
    text-wrap: pretty;
}
